﻿@model SoruCevap.Models.Soru

<div class="w3-container">
    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>@Model.kullaniciSoruTarihi</h6>
    <p>@Model.kullaniciSorusu</p>
    <hr>
</div>
