﻿@model SoruCevap.Models.SoruViewModel

<div class="w3-container">
    <h6 class="w3-opacity">
        <h7 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>@Model.SoruTarihi</h7>
        <br />
        <b>@Model.KullaniciAdi :</b>
    </h6>
    <p>@Model.Soru</p>
    <hr>
</div>
