﻿@model SoruCevap.Models.SoruView

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="row">
        <div class="form-group">
            <div class="col-md-8">
                @if (Request.IsAuthenticated)
                {
                    @Html.TextBoxFor(m => m.Soru, new { @class = "form-control",placeholder = @SoruCevap.Resources.dil.SoruSor } )
                }
                else
                {
                    @Html.TextBoxFor(m => m.Soru, new { @class = "form-control", placeholder = @SoruCevap.Resources.dil.SoruSor })
                }

            </div>
            <div class="col-md-4">
                @if (Request.IsAuthenticated)
                {
                    <input type="submit" class="btn btn-default" value=@SoruCevap.Resources.dil.Gonder />
                }
                else
                {
                    <input type="submit" class="btn btn-default" value=@SoruCevap.Resources.dil.Gonder disabled />
                }
            </div>
        </div>
    </div>
    <div class="row">
        <p>
            @Html.RadioButtonFor(m => m.Tip, "Teknoloji")@SoruCevap.Resources.dil.Teknoloji
            @Html.RadioButtonFor(m => m.Tip, "Spor")@SoruCevap.Resources.dil.Spor
            @Html.RadioButtonFor(m => m.Tip, "Gündem")@SoruCevap.Resources.dil.Gundem
            @Html.RadioButtonFor(m => m.Tip, "Sağlık")@SoruCevap.Resources.dil.Saglik
            @Html.RadioButtonFor(m => m.Tip, "Genel", new { @checked = "checked" })@SoruCevap.Resources.dil.Genel
        </p>
    </div>
}