﻿
@{
    ViewBag.Title = "Cevap";
}
<!DOCTYPE html>
<html>
<head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        html, body, h1, h2, h3, h4, h5, h6 {
            font-family: "Roboto", sans-serif;
        }
    </style>
</head>
<body class="w3-light-grey">

    <!-- Page Container -->
    <div class="w3-content w3-margin-top" style="max-width:1400px;">

        <!-- The Grid -->
        <div class="w3-row-padding">

            <!-- Left Column -->
            <div class="w3-vertical">
                <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
                    <div class="w3-container">
                        
                    </div>
                </div>
                <!-- End Left Column -->
            </div>

            <!-- Right Column -->
            <div class="w3-twothird">
                <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
                    <h2 class="w3-text-grey w3-padding-16">Sizce Samsungun en iyi android telefonu hangisidir?</h2>
                    <div class="w3-container">
                        <h6 class="w3-opacity"><b>recanavar :</b></h6>
                        <p>asdfasdfasdfasdfasdfasdfasdfasdfasdfsdfasdfasfasdfasfasfasf</p>
                        <hr>
                    </div>
                    <div class="w3-container">
                        <h6 class="w3-opacity"><b>xxxxxxxx :</b></h6>
                        <p>asdfasdfasdfasdfasdfasdfas</p>
                        <hr>
                    </div>
                    <div class="w3-container">
                        <h6 class="w3-opacity"><b>xxxxxxxx :</b></h6>
                        <p>asdfasdfasdfasdfasdfasdfasdfasdfasdfsdfasdfasfa</p><br>
                    </div>
                </div>

                <div class="w3-twothird">
                    <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
                        <div class="w3-container">
                            <form method="post">
                                
                                @if (Request.IsAuthenticated)
                                {
                                    <textarea rows="5" cols="50" placeholder="Cevabınız..."></textarea>
                                    <button class="btn btn-default" value="submit">Gönder</button>
                                }
                                else
                                {
                                    <textarea rows="5" cols="50" placeholder="Cevap verebilmek için lütfen üye olunuz."></textarea>
                                    <button class="btn btn-default" value="submit" disabled>Gönder</button>
                                }

                            </form>
                        </div>
                    </div>
                </div>

                <!-- End Right Column -->
            </div>

            <!-- End Grid -->
        </div>

       

        <!-- End Page Container -->
    </div>
</body>
</html>