﻿@model IEnumerable<SoruCevap.Models.SoruViewModel>
@{
    ViewBag.Title = @SoruCevap.Resources.dil.Genel;
}

<!DOCTYPE html>
<html>
<head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        html, body, h1, h2, h3, h4, h5, h6 {
            font-family: "Roboto", sans-serif;
        }
    </style>
</head>
<body class="w3-light-grey">
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-2 sidenav">
            </div>
            <div class="col-sm-8">
                <!-- Page Container -->
                <div class="w3-content w3-margin-top" style="max-width:1400px;">
                    <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
                        <h2 class="text-center">@SoruCevap.Resources.dil.GenelSorular</h2>
                        <hr />
                        @foreach (var soru in Model)
                        {
                            @Html.Partial("_SoruPartial", soru)
                        }
                        @*<div class="w3-container">
                            <h6 class="w3-opacity"><b>xxxxxxxx :</b></h6>
                            <p>Sizce Samsungun en iyi android telefonu hangisidir?</p>
                            <hr>
                        </div>
                        <div class="w3-container">
                            <h6 class="w3-opacity"><b>xxxxxxxx :</b></h6>
                            <p>Başarının anahtarı nedir ?</p>
                            <hr>
                        </div>
                        <div class="w3-container">
                            <h6 class="w3-opacity"><b>xxxxxxxx :</b></h6>
                            <p>Youtube kanalı açmak istiyorum fikirleriniz çok önemli ?</p><br>
                        </div>*@
                    </div>
                </div>
            </div>
            <div class="col-sm-2 sidenav">
            </div>
        </div>
    </div>
</body>
</html>

@*<!DOCTYPE html>
<html>
<body>
    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">
            </div>
            <div class="col-sm-8">
                <h2>Teknoloji Soruları</h2>
                <div class="row">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>Youtube kanalı açmak istiyorum fikirleriniz çok önemli ?</td>
                            </tr>
                            <tr>
                                <td>2016-2017 Coca Cola Gelişim Ligleri Ne Zaman Başlıyacak ?</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-2 sidenav">
            </div>
        </div>
    </div>
</body>
</html>*@

