﻿@model SoruCevap.Models.AnaSayfaViewModel
@{
    ViewBag.Title = SoruCevap.Resources.dil.AnaSayfa;
}

<div class="jumbotron">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-5">        
            <div class="row">
                @Html.Partial("_SoruFormuPartial", new SoruCevap.Models.SoruView())
             @*@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
             {
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.Soru, new { @class = "form-control" })                          
                        </div> 
                        <div class="col-md-4">
                            @if(Request.IsAuthenticated)
                            {
                                <input type="submit" class="btn btn-default" value="Gönder" />
                            }
                            else
                            {
                                <input type="submit" class="btn btn-default" value="Gönder" disabled />
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <p>
                        @Html.RadioButtonFor(m => m.Tip, "Teknoloji")Teknoloji
                        @Html.RadioButtonFor(m => m.Tip, "Spor")Spor
                        @Html.RadioButtonFor(m => m.Tip, "Gündem")Gündem
                        @Html.RadioButtonFor(m => m.Tip, "Sağlık")Sağlık
                        @Html.RadioButtonFor(m => m.Tip, "Genel",new { @checked = "checked" })Genel
                    </p>
                </div>
             }*@
                @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Kaydet" />
            </div>
        </div>*@

                @*<div class="input-group">
            <input type="text" class="form-control" placeholder="Soru Sor...">
            <div class="input-group-btn">

                <button class="btn btn-default" type="submit">
                    Gönder
                </button>

            </div>
        </div>*@
            </div>
            @*<div class="row">
                <form action="post">
                    <input type="radio" name="gender" value="teknoloji">Teknoloji
                    <input type="radio" name="gender" value="spor"> Spor
                    <input type="radio" name="gender" value="gündem"> Gündem
                    <input type="radio" name="gender" value="sağlık"> Sağlık
                    <input type="radio" name="gender" value="genel" checked> Genel
                </form>
            </div>*@
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>




<div class="row">
    <div class="col-md-6">
        <h3>@SoruCevap.Resources.dil.SonSorulanSorular</h3>
        <table>
            @foreach(var soru in Model.EnSonSoru)
            {
                @Html.Partial("_EnSonSoruPartial",soru)
            }
        </table>
    </div>

    <div class="col-md-6">
        <h3>@SoruCevap.Resources.dil.EnPopuler</h3>
        <table>
            <tr>
                <td><a href="#">Sizce Samsungun en iyi android telefonu hangisidir?</a></td>
            </tr>
            <tr>
                <td><a href="#">Youtube kanalı açmak istiyorum fikirleriniz çok önemli?</a></td>
            </tr>
            <tr>
                <td><a href="#">Dizüstü Bilgisayar alacağım özellikleri iyi mi ?</a></td>
            </tr>
            <tr>
                <td><a href="#">2016-2017 Coca Cola Gelişim Ligleri Ne Zaman Başlıyacak ?</a></td>
            </tr>
        </table>
    </div>
</div>