﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @SoruCevap.Resources.dil.SoruCevap</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script type = 'text/javascript' >
        var appInsights=window.appInsights||function(config)
        {
            function r(config){ t[config] = function(){ var i = arguments; t.queue.push(function(){ t[config].apply(t, i)})} }
            var t = { config:config},u=document,e=window,o='script',s=u.createElement(o),i,f;for(s.src=config.url||'//az416426.vo.msecnd.net/scripts/a/ai.0.js',u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=['Event','Exception','Metric','PageView','Trace','Ajax'];i.length;)r('track'+i.pop());return r('setAuthenticatedUserContext'),r('clearAuthenticatedUserContext'),config.disableExceptionTracking||(i='onerror',r('_'+i),f=e[i],e[i]=function(config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o),s}),t
        }({
            instrumentationKey:'59a5cdde-8f64-4a06-9a49-6cba028b246a'
        });

        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #cce6ff;
        }

        #navbar-Color {
            background-color: #3b5998;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" id="navbar-Color">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(SoruCevap.Resources.dil.SoruCevap, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <ul class="nav navbar-nav navbar-collapse">
                <li>@Html.ActionLink(SoruCevap.Resources.dil.Teknoloji, "Teknoloji", "Home")</li>
                <li>@Html.ActionLink(SoruCevap.Resources.dil.Spor, "Spor", "Home")</li>
                <li>@Html.ActionLink(SoruCevap.Resources.dil.Gundem, "Gundem", "Home")</li>
                <li>@Html.ActionLink(SoruCevap.Resources.dil.Saglik, "Saglik", "Home")</li>
                <li>@Html.ActionLink(SoruCevap.Resources.dil.Genel, "Genel", "Home")</li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">@SoruCevap.Resources.dil.Diller<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink(SoruCevap.Resources.dil.Turk,ViewContext.RouteData.Values["action"].ToString(),ViewContext.RouteData.Values["controller"].ToString(), new { dil="tr"}, null)</li>
                        <li>@Html.ActionLink(SoruCevap.Resources.dil.Eng,ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), new { dil = "en" }, null)</li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right navbar-collapse">
                @Html.Partial("_LoginPartial")
            </ul>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @SoruCevap.Resources.dil.SoruCevap</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
