﻿@model SoruCevap.Models.KullaniciBilgileri

@{
    ViewBag.Title = @SoruCevap.Resources.dil.Sil;
}

<h2>@SoruCevap.Resources.dil.Sil</h2>

<h3>@SoruCevap.Resources.dil.SilmekIstediginizeEmin</h3>
<div>
    <h4>@SoruCevap.Resources.dil.KullaniciBilgileri</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.AdSoyad)*@
            @SoruCevap.Resources.dil.AdSoyad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdSoyad)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.KullaniciAdi)*@
            @SoruCevap.Resources.dil.KullaniciAdi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KullaniciAdi)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Email)*@
            @SoruCevap.Resources.dil.EPosta
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=@SoruCevap.Resources.dil.Sil class="btn btn-default" /> |
            @Html.ActionLink(@SoruCevap.Resources.dil.ListeyeDon, "Index")
        </div>
    }
</div>
