﻿@model SoruCevap.Models.KullaniciBilgileri

@{
    ViewBag.Title = @SoruCevap.Resources.dil.Detaylar;
}

<h2>@SoruCevap.Resources.dil.Detaylar</h2>

<div>
    <h4>@SoruCevap.Resources.dil.KullaniciBilgileri</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.AdSoyad)*@
            @SoruCevap.Resources.dil.AdSoyad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdSoyad)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.KullaniciAdi)*@
            @SoruCevap.Resources.dil.KullaniciAdi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KullaniciAdi)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Email)*@
            @SoruCevap.Resources.dil.EPosta
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink(@SoruCevap.Resources.dil.Duzenle, "Edit", new { id = Model.KullaniciID }) |
    @Html.ActionLink(@SoruCevap.Resources.dil.ListeyeDon, "Index")
</p>
