﻿@model SoruCevap.Models.KullaniciBilgileri

@{
    ViewBag.Title = @SoruCevap.Resources.dil.Duzenle;
}

<h2>@SoruCevap.Resources.dil.Duzenle</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@SoruCevap.Resources.dil.KullaniciBilgileri</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.KullaniciID)

        <div class="form-group">
            @*@Html.LabelFor(model => model.AdSoyad, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-2">
                @SoruCevap.Resources.dil.AdSoyad
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.AdSoyad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AdSoyad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.KullaniciAdi, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-2">
                @SoruCevap.Resources.dil.KullaniciAdi
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.KullaniciAdi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KullaniciAdi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-2">
                @SoruCevap.Resources.dil.EPosta
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=@SoruCevap.Resources.dil.Kaydet class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(SoruCevap.Resources.dil.ListeyeDon, "Index")
</div>
