﻿@model IEnumerable<SoruCevap.Models.KullaniciBilgileri>

@{
    ViewBag.Title = "Index";
}

<hr />

<p>
    @Html.ActionLink(@SoruCevap.Resources.dil.YeniOlustur, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.AdSoyad)*@
            @SoruCevap.Resources.dil.AdSoyad
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.KullaniciAdi)*@
            @SoruCevap.Resources.dil.KullaniciAdi
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Email)*@
            @SoruCevap.Resources.dil.EPosta
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AdSoyad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KullaniciAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink(@SoruCevap.Resources.dil.Duzenle, "Edit", new { id=item.KullaniciID }) |
            @Html.ActionLink(@SoruCevap.Resources.dil.Detaylar, "Details", new { id=item.KullaniciID }) |
            @Html.ActionLink(@SoruCevap.Resources.dil.Sil, "Delete", new { id=item.KullaniciID })
        </td>
    </tr>
}

</table>
