﻿@using SoruCevap.Models
@model LoginViewModel
@{
    ViewBag.Title = @SoruCevap.Resources.dil.GirisYap;
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <hr />
                <div class="form-group">
                    <div class="col-md-2">
                        @SoruCevap.Resources.dil.KullaniciAdi
                    </div>
                    @*@Html.LabelFor(m => m.KullaniciAdi, new { @class = "col-md-2 control-label" })*@
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.KullaniciAdi, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.KullaniciAdi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                         @SoruCevap.Resources.dil.Sifre
                    </div>
                    @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @SoruCevap.Resources.dil.BeniHatirla
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value=@SoruCevap.Resources.dil.Giris class="btn btn-default" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink(@SoruCevap.Resources.dil.KayitOl, "Register")
                </p>
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}