﻿@model SoruCevap.Models.RegisterViewModel
@{
    ViewBag.Title = @SoruCevap.Resources.dil.KayitOl;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    @*-----------------Ad Soyad-----------------*@
    <div class="form-group">
        <div class="col-md-2">
            @SoruCevap.Resources.dil.AdSoyad
        </div>        
        @*@Html.LabelFor(m => m.AdSoyad, new { @class = "col-md-2 control-label" })*@
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.AdSoyad, new { @class = "form-control" })
        </div>
    </div>
    @*-----------------E-Posta-----------------*@
    <div class="form-group">       
        <div class="col-md-2">
            @SoruCevap.Resources.dil.EPosta
        </div>  
        @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })*@
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    @*-----------------Kullanıcı Adı-----------------*@
    <div class="form-group">
        <div class="col-md-2">
           @SoruCevap.Resources.dil.KullaniciAdi
        </div>       
        @*@Html.LabelFor(m => m.KullaniciAdi, new { @class = "col-md-2 control-label" })*@
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.KullaniciAdi, new { @class = "form-control" })
        </div>
    </div>
    @*-----------------Şifre-----------------*@
    <div class="form-group">
        <div class="col-md-2">
           @SoruCevap.Resources.dil.Sifre
        </div>       
        @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    @*-----------------Şifre Onayla-----------------*@
    <div class="form-group">
        <div class="col-md-2">
           @SoruCevap.Resources.dil.SifreOnayla
        </div>       
        @*@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })*@
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value=@SoruCevap.Resources.dil.Kaydet />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
